body {
	background-color: #8e165e;
background-image: linear-gradient(194deg, #8e165e 0%, #5a1f82 33%, #0e4263 66%, #212342 100%);

}

h1,
p {
	font-family: 'Hind', sans-serif;
	color: #bdbbb5;
	font-size: medium;
	position: relative;
	margin-top: 0.1em;
}

hr {
	position: relative;
	margin-top: -1em;
	height: 0.1px;
	border-width: 0;
	color: #daa520;
	background-color: #daa520;
}

p {
	text-indent: 50px;
}

h1 {
	font-weight: 200;
	color: #bdbbb5;
	font-size: xx-large;
}

body {
	margin: 0px;
}

.container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.heart {
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	transiton: transform 2s;
	z-index: 1;
}

.heart>img {
	width: 80px;
	height: auto;
}

.message {
	padding: 20px;
	background-color: #000000;
	min-width: 400px;
	height: 75%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
	overflow: hidden;
	animation-name: openmsg;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-play-state: paused;
	animation-fill-mode: forwards;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	border-radius: 5px;
}

.signature img {
	max-width: 100%;
	height: 100px;
	position: relative;
	margin-left: 30px;
	margin-bottom: 0.1px;
	margin-top: -1px;
}

.signature p {
	position: relative;
	margin-top: -3em;
	size: 15px;
}


.heart>img:hover {
	animation-name: beat;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

#messageState {}

@keyframes beat {
	0% {
		width: 50px;
	}

	25% {
		width: 58px;
	}

	30% {
		width: 50px;
	}

	50% {
		width: 45px;
	}

	60% {
		width: 50px;
	}

	75% {
		width: 58px;
	}

	100% {
		width: 50px;
	}
}

@keyframes openmsg {
	0% {
		height: 0px;
		padding: 0px 20px;
	}

	100% {
		height: 75%;
		padding: 20px 20px;
	}
}

@keyframes heartMove {
	0% {
		top: 50%
	}

	100% {
		top: 85%;
		transform: translate(-50%, 0);
	}
}

.openNor {
	animation-direction: normal;
	animation-play-state: running;
	background-image: linear-gradient(194deg, #8e165e 0%, #5a1f82 33%, #0e4263 66%, #212342 100%);
}

.closeNor {
	animation-direction: reverse;
	animation-play-state: running;
	background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}

.no-anim {
	animation: none;
}

.closed {
	height: 0px;
	padding: 0px 20px;
}

.bottom {
	bottom: 5px;
}

.openHer {
	animation-name: heartMove;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-play-state: running;
	animation-fill-mode: forwards;
	background-image: linear-gradient(194deg, #8e165e 0%, #5a1f82 33%, #0e4263 66%, #212342 100%);
}

.closeHer {
	animation-name: heartMove;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-play-state: running;
	animation-direction: reverse;
	animation-fill-mode: forwards;
	background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}

.beating>img {
	animation-name: beat;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

.openedHer {
	top: 85%;
	transform: translate(-50%, 0);
}
